@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

:root {
  --white: #ffffff;
  --light-pink: #ffa7c3;
  --pink: #f74780;
  --grey-blue: #666ca3;
  --dark-blue: #13183f;
  --grey: #83869a;
  --gradient-1: #f02aa6;
  --gradient-2: #ff6f48;
  --gradient-3: #4851ff;
  --gradient-4: #f02aa6;

  --fs-xl: 56px;
  --fs-l: 40px;
  --fs-m: 32px;
  --fs-s: 24px;
  --fs-body-m: 18px;
  --fs-body-s: 16px;

  --fw-extrabold: 800;
  --fw-bold: 700;
  --fw-medium: 500;

  --lh-auto: auto;

  --ff-main: "Plus Jakarta Sans", sans-serif;

  --layout-mobile: 375px;
  --layout-tablet: 768px;
  --layout-desktop: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;

  width: var(--layout-mobile);
}

body {
  width: 375px;
  height: 100%;
  font-family: var(--ff-main);

  background: linear-gradient(var(--white) 40%, rgba(102, 108, 163, 0.225));
}

.btn {
  padding: 12px 32px;
  border-radius: 40px;
  text-decoration: none;
  font-size: 16px;
}

.btn-gradient-1 {
  background: linear-gradient(var(--gradient-2), var(--gradient-1));
  color: var(--white);

  padding: 12px 26px;
}

.btn-gradient-2 {
  background: linear-gradient(var(--gradient-3), var(--gradient-1));
  color: var(--white);

  padding: 12px 26px;
}

.btn-blue {
  background-color: var(--dark-blue);
  color: var(--white);
}

header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  padding: 1rem 1rem 3rem;
  align-items: center;
}

header p {
  color: var(--dark-blue);
  font-size: 28px;
  line-height: var(--lh-auto);
  font-weight: var(--fw-extrabold);
}

.heading {
  height: 630px;
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  position: relative;

  overflow: hidden;
}

.heading_copy {
  width: 343px;
}

.heading h1 {
  font-size: var(--fs-l);
  line-height: var(--lh-auto);

  padding-left: 1rem;
}

.heading p {
  font-size: var(--fs-body-s);
  line-height: var(--lh-auto);

  padding: 1.5rem 1rem;
  color: #83869a;
}

.heading img {
  position: absolute;
  /* top: 0; */
  left: -10%;
  margin-top: 1rem;
}

.heading a {
  margin-left: 1rem;
}

/* Card Section */

.card-section {
  padding: 2rem 1rem;

  display: grid;
  grid-template-columns: 343px;
  grid-template-rows: 120px 283px 283px 283px 283px 283px;

  gap: 25px;
}

/* Card 1 */

.card-1 {
  height: 100%;
  background: linear-gradient(#ff6f48, #f02aa6);

  color: var(--white);
  font-size: 24px;
  font-weight: var(--fw-extrabold);
  line-height: auto;

  padding: 1.7rem 1.5rem;
  border-radius: 15px;
}

/* Card 2 */

.card-2 {
  height: 283px;

  position: relative;
}

.card-2_body {
  height: 259px;
  background-color: var(--white);

  padding-top: 1rem;
  margin-top: 1.5rem;
  border-radius: 10px;
}

.card-2_body h1 {
  padding: 1.5rem 1.7rem 0;
  font-size: 20px;
  font-weight: var(--fw-extrabold);
  line-height: var(--lh-auto);
}

.card-2_body img {
  position: absolute;
  top: -7px;
  left: 25px;
}

.card-2_body p {
  padding: 1.8rem 1.7rem;
  font-size: 16px;
  color: ;
}

.card-2_body a {
  color: var(--pink);
  text-decoration: none;

  font-size: var(--fs-body-m);
  line-height: 28px;
  font-weight: var(--fw-bold);

  padding: 0 1.7rem;
}

/* Card 3 */

.card-3 {
  height: 283px;

  position: relative;
}

.card-3_body {
  height: 259px;
  background-color: var(--white);

  padding-top: 1rem;
  margin-top: 1.5rem;
  border-radius: 10px;
}

.card-3_body h1 {
  padding: 1.5rem 1.7rem 0;
}

.card-3_body img {
  position: absolute;
  top: -7px;
  left: 25px;
}

.card-3_body p {
  padding: 1.8rem 1.7rem;
}

.card-3_body a {
  color: var(--pink);
  text-decoration: none;

  font-size: var(--fs-body-m);
  line-height: 28px;
  font-weight: var(--fw-bold);

  padding: 0 1.7rem;
}

/* Card 4 */

.card-4 {
  height: 283px;

  position: relative;
}

.card-4_body {
  height: 259px;
  background-color: var(--white);

  padding-top: 1rem;
  margin-top: 1.5rem;
  border-radius: 10px;
}

.card-4_body h1 {
  padding: 1.5rem 1.7rem 0;
}

.card-4_body img {
  position: absolute;
  top: -7px;
  left: 25px;
}

.card-4_body p {
  padding: 1.8rem 1.7rem;
}

.card-4_body a {
  color: var(--pink);
  text-decoration: none;

  font-size: var(--fs-body-m);
  line-height: 28px;
  font-weight: var(--fw-bold);

  padding: 0 1.7rem;
}

/* Card 5 */

.card-5 {
  height: 283px;

  position: relative;
}

.card-5_body {
  height: 259px;
  background-color: var(--white);

  padding-top: 1rem;
  margin-top: 1.5rem;
  border-radius: 10px;
}

.card-5_body h1 {
  padding: 1.5rem 1.7rem 0;
}

.card-5_body img {
  position: absolute;
  top: -7px;
  left: 25px;
}

.card-5_body p {
  padding: 1.8rem 1.7rem;
}

.card-5_body a {
  color: var(--pink);
  text-decoration: none;

  font-size: var(--fs-body-m);
  line-height: 28px;
  font-weight: var(--fw-bold);

  padding: 0 1.7rem;
}

/* Card 6 */

.card-6 {
  height: 283px;

  position: relative;
}

.card-6_body {
  height: 259px;
  background-color: var(--white);

  padding-top: 1rem;
  margin-top: 1.5rem;
  border-radius: 10px;
}

.card-6_body h1 {
  padding: 1.5rem 1.7rem 0;
}

.card-6_body img {
  position: absolute;
  top: -7px;
  left: 25px;
}

.card-6_body p {
  padding: 1.8rem 1.7rem;
}

.card-6_body a {
  color: var(--pink);
  text-decoration: none;

  font-size: var(--fs-body-m);
  line-height: 28px;
  font-weight: var(--fw-bold);

  padding: 0 1.7rem;
}

footer {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  padding: 2rem 1rem 2rem;
  align-items: center;

  background-color: var(--dark-blue);
}

footer p {
  color: var(--white);
  font-size: 28px;
  line-height: var(--lh-auto);
  font-weight: var(--fw-extrabold);
}

@media screen and (min-width: 768px) {
  html {
    width: 768px;
  }
  body {
    width: 768px;
  }

  header {
    padding: 2rem 2.2rem 3rem;
  }

  .heading {
    display: flex;
    flex-direction: row;

    /* align-items: flex-start; */
    /* position: relative; */
  }

  /* .heading_copy {
    width: 343px;
  } */

  /* .heading h1 {
    font-size: var(--fs-l);
    line-height: var(--lh-auto);

    padding-left: 1rem;
  }

  .heading p {
    font-size: var(--fs-body-s);
    line-height: var(--lh-auto);

    padding: 1.5rem 1rem;
    color: #83869a;
  } */

  .heading img {
    /* position: absolute; */
    top: -35%;
    left: 49.5%;
  }

  .heading a {
    margin-left: 1rem;
  }

  .card-section {
    padding: 2rem 2.2rem 1rem;

    display: grid;
    grid-template-columns: 339px 339px;
    grid-template-rows: 259px 259px 259px;

    gap: 10px;
  }
}
